<div class="btn-group" role="group" style="float: right;">
	<%= link_to "BACK",prestamos_path, class: "btn btn-primary" %>
</div>
    <table class="table table-hover">
			<h1>PRESTAMO</h1>
        <thead>
            <tr>
                <th>ID_Prestamo</th>
                <th>Nombre del Cliente</th>
                <th>Total del Prestamo</th>
                <th>Balance</th>
                <th>Tipo de Prestamo</th>
                <th>Fecha de Emision</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @loan.id %></td>
            <td><%= @loan.client_name %></td>
            <td><%= @loan.amount %></td>
            <td><%= @loan.amount - @loan.payment.sum(:amount) %></td>
            <td><%= @loan.loan_type %></td>
            <td><%= @loan.created_at %></td>
          </tr>
        </tbody>
    </table>

<h1>PAGOS</h1>
<%@loan.payment.each do |pay| %>
<table  class="table table-hover">
	<thead>
		<tr>
			<th>ID_Pago</th>
			<th>Monto</th>
			<th>Fecha Emitido</th>
		</tr>
	</thead>
	<tbody>
		<center>
			<%= render partial: "loan_payment", locals: {payment: pay} %>
		</center>
	</tbody>
</table>
<%end%>
